* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ant-skeleton.ant-skeleton-element.ant-skeleton-active {
    width: 100% !important;
}

.ant-card-body {
    width: 100% !important;
}

.custom-image img {

    object-fit: cover !important;
}

.ant-image {
    height: 100% !important;

}